input::-webkit-input-placeholder{
  color:rgb(212, 203, 203);
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
  color:rgb(212, 203, 203);
}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
  color:rgb(212, 203, 203);
}
#search  {    
margin: auto;
position: static;
left: 0px;
top: 24px;
width: 600px;
height: 56px;
display: flex;
flex-direction: row;
padding: 8px;
align-self: stretch;
border-radius: 8px;
opacity: 1;
background: #FFFFFF;
box-sizing: border-box;
border: 1px solid #BFBFBF;
z-index: 1;
flex-wrap: nowrap;
padding-left: 21px;
}

#box {
width: 90%;
margin: auto;
margin-top: 70px;
}
.forshow{ 
width: 100%; height: 40px; padding: 0 10px;
margin-top: 10px;
display: flex; display: -webkit-box; display: -moz-box;
-webkit-box-pack: center; -moz-box-pack: center; -webkit-box-align: center; -moz-box-align: center;
-webkit-box-sizing: border-box;  -o-box-sizing: border-box;  -ms-box-sizing: border-box;  
box-sizing: border-box;
padding: 0 10px;
}
.forshow .img_setH{ 
display: inline-block; 
}
.img_setH{
margin-right: 10px;
margin-left: 10px;
color: #7c7676;
font-size: 20px;
}
.forshow .flex{ 
-webkit-box-flex: 1; 
-webkit-flex: 1; 
-ms-flex: 1; 
flex: 1; 
height: 1px; 
background: #cccccc;
-webkit-box-sizing: border-box;  
-o-box-sizing: border-box;  
-ms-box-sizing: border-box;  
box-sizing: border-box;
}

.group-a-tag {
display:inline-block;
font-size: 18px;
width: 200px;
height: 48px;
text-align: center;
color: rgb(114, 143, 247);
}
.group-a {
margin-top: 60px;
margin: 2%;
}
#input-div {
  margin-top: 90px;
  margin-bottom: 10px;
}
